*{
	margin: 0;
	padding: 0;
}
.m1{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom right, white,  	#1E90FF);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.fbox{
	width: 730;
	height: 390;
	position: relative;
	margin: 5% auto;
	background: rgba(0,0,0,0.25);
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.25);
    border-radius: 15px;
	animation-name: anim;
    animation-duration: 1s;
	overflow: hidden; 

 
}
.linea{
	width: 1;
	height: 350;
	position: absolute;
	background: rgba(0,0,0,0.25);
	border-left: 0.5px solid rgba(0,0,0,0.05);
	  transform: translate(-35px, -50px);
	
}
.cajabotones{
	width: 280px;
	margin: 15px auto;
	margin-left: 54%;
	position: relative;
	border: 0.5px solid rgba(0,0,0,0.05);
	border-radius: 15px;
	background: rgba(255,255,255,0.5);
}

.t-b1{
	padding: 10px 10px;
	margin-left: 10%;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	position: relative;
}

#b1{
	top: 0;
	left: 0;
	position: absolute;
	width: 150;
	height: 100%;
	background: linear-gradient(to right, #87CEFA, #40E0D0);
	border-radius: 15px;
	transition: .5s;

}

.inputg{
	top: 130px;
	position: absolute;
	width: 280px;
	transition: 0.1s;
	animation: ani 1s;
	margin-left: 47.5%;
}
.inputf{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 15px;
	outline: none;
	text-align: center;
}

.submitb{

	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #87CEFA, #40E0D0);
	border: 0;
	outline: none;
	border-radius: 15px;
	transform: translate(0%, 70%);

}

.fbox a {
  margin: 0;
  padding: 0;
  font-size: 12px;
  transform: translate(0%, 50%);
  color:rgba(255,255,255,0.65);

}
.fbox h1{
  text-align: center;
  margin-bottom: 5%;
  top: 20px;
  margin-left: 50%;
  position: relative;
  color:rgba(255,255,255,0.85);
  
    
}

#Encargado{
	left: 50px;
}

#Admin{
	left: 450px;
}

@keyframes anim {
  0%   {background-color:rgba(0,0,0,0.25);  top:-600px;}
  20%  {background-color:rgba(0,0,0,0.25);	top:0px;}
  40%  {background-color:rgba(0,0,0,0.25);	top:40px;}
  60%  {background-color:rgba(0,0,0,0.25);	top:0px;}
  80%  {background-color:rgba(0,0,0,0.25);	top:20px;}
  100% {background-color:rgba(0,0,0,0.25);	top:0px;}
}
@keyframes ani{
  from{opacity: 0;}
  to{opacity: 1;}
}
.slider {
	width: 45.5%;
    background-color: transparent;
	overflow: hidden;
	border-radius: 10px;
	transform: translate(-1.5%, -31%);
	position: relative;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%; height: 77.5%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 25%;
	list-style: none;
}

.slider img {
	border-radius: 10px;
	width: 85%;		
	height: 50%;
	transform: translate(0%, 50%);
}

.slider h1{
	width:100%;
	position: relative;
	transform: translate(-50%, 50%);
	text-align: center;
	
}
.slider h2{
	color: rgba(255,255,255,0.85);
	text-align: center;
	width:100%;
	position: relative;
	transform: translate(0%, 200%);
	
}

@keyframes cambio {
	0% {margin-left: 8%;}
	20% {margin-left: 8%;}
	
	25% {margin-left: -92%;}
	45% {margin-left: -92%;}
	
	50% {margin-left: -192%;}
	70% {margin-left: -192%;}
	
	75% {margin-left: -292%;}
	100% {margin-left: -292%;}
}

