.parr{
    text-align: center;
    color: #2D3136;
}
.cont{
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2D3136;
    vertical-align: middle;
}
.text{
    color: white;
    text-align: left;
}
.cen{
    margin-left: auto;
    margin-right: auto;
}