@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body{
	margin: 0;
	padding: 0;
	background-size: cover;
	background: #222238;
	font-family: 'Syne', sans-serif;
	height: 100vh;
}
.fondo{
background: #222238;
}
.titulo{
	color: white;
	text-align: center;
}
.p-contenedor{
	width: 320px;
	height: 420px;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	 transform: translate(-50%, -50%);
	 box-sizing: border-box;
	 padding: 70px 30px;
}

nav{
	width:auto;
	height: auto;
	font-family:'Montserrat-Regular', monospace;
	background-color: #222238;
	text-align: center;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background: #151A37;
	overflow: hidden;
}
li{
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	border: 6px;
}
li a:hover{
	background-color: #778899;
	color:#000000;
	border: 6px;
	text-align: center;
}
lu{
	float: right;
	margin: 10px;
}
h1, h5{
	color: white;
	text-align: center;
 font-family:'Montserrat-Regular', monospace;
}
P{
	color: white;
	text-align: center;
 font-family:'Montserrat-Regular', monospace;
}
lu a1{
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
	border: 6px;
}
lu a1:hover{
	align-content: right;
	background-color: #778899;
	color:#000000;
}
.boton{
border: 1px solid; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #151A37;
color: #ffffff;
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family:'Montserrat-Regular', monospace; /*tipografía texto*/
border-radius: 20px; /*bordes redondos*/

}
