@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Syne', sans-serif;
    background: #2D3136;
}

h1{
    color: white;
    text-align: center;
}

.form-register{
    width: 95%;
    max-width: 900px;
    margin: auto;
    background: gray;
    border-radius: 7px;
}

.form__titulo{
    background: none;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    /* border-bottom: 5px solid white; */
}

.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

::placeholder{
    color: white;
    font-family: 'Syne', sans-serif;
}

.input-48{
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background: none;
    width: 47%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    color: white;
}

.input-33{
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background: none;
    width: 30%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    color: white;
}

.input-48 option{
    color: black;
    font-family: 'Syne', sans-serif;
}

.input-100{
    outline: 0;
    border-width: 0 0 2px;
    max-width: 700px;
    border-color: white;
    background: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    color: white;
}

.btn-enviar{
    background: none;
    border: 2px solid white;
    color: white;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
}
