@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body {
  height: 100%;
  width: 100%;
  font-family: 'Syne', sans-serif;
  background: #2D3136;
}


.a{
  color: white;
}

.B {
  color: rgb(167, 17, 17);
  padding: 15px;
  margin-top: 10px;
}


.form-signin {
  width: 65%;
  padding: 15px;
  margin-top: 10px;
  background: none;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  border-bottom: 2px solid white;
  
} 



.form-signin input[type="email"] {
  font-size: 16px;
  float: left;
  background: none;
    color: white;
    text-align: center;
  margin: 30px 0;
  border-bottom: 2px solid white;
 
}
 .form-signin input[type="password"] {
 
   color: white; 
   text-align: center;
  font-size: 16px;
  float: left;
  margin: 30px 0;
 border: none;
 border-bottom: 2px solid white;
}






.login-box{
  width: 58%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;

  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imagen{
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}


.btn{
  width: 40%;
  height: 50px;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 50px;
  border-radius: 10px;
}


